@{
	ViewData["Title"] = "Invoices";
}

@model Invoice[]

<div class="text-center">

	<h1 class="display-4 mb-4">@ViewData["Title"]</h1>

	<table class="table table-bordered table-striped table-hover table-sm">

		<thead class="table table-active">
			<tr class="fs-4">
				<th>Item</th>
				<th>Price</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var invoice in Model)
			{
				<tr>
					<td >@invoice.Items[0]</td>
					<td>@invoice.Prices[0] Euro</td>
				</tr>
			}
		</tbody>

	</table>

</div>


